.add-recipe-container {
  width: fit-content;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
}

.add-recipe-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.add-recipe-form-h1 {
  font-family: var(--primary-font);
  margin: 0;
  margin-bottom: 1rem;
}

.add-recipe-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.add-recipe-inputs-box {
  display: flex;
  justify-content: center;
  align-items: start;
  min-width: 20rem;
  width: 30%;
  max-height: 68vh;
  overflow: auto;
  margin-right: 5%;
}

.add-recipe-inputs {
  width: 100%;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
}


.add-recipe-input {
  font-size: 1rem;
  padding: 0.5rem;
  width: 95%;
  margin: 0.5rem 0;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--tertiary-text-color);
}

.input-category-selection {
  border: none;
  outline: none;
}

.add-recipe-input-extra {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
  width: 75%
}

.add-recipe-input-extra:focus~.add-button {
  border: none;
}

.add-button {
  width: 25%;
  font-size: 1rem;
  font-family: var(--primary-font);
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid var(--tertiary-text-color);
  background-color: var(--success-color);
  color: var(--primary-text-color);
}

.add-button:hover {
  background-color: color-mix(in srgb, var(--success-color) 100%, black 50%);
}

.add-recipe-ingredients {
  margin: 0;
  margin-bottom: 0.5rem;
  font-family: var(--primary-font);
}

.add-recipe-steps {
  margin: 0;
}

 .input-placeholder {
  font-size: 1rem;
   padding: 0.5rem;
   pointer-events: none;
   position: absolute;
   left: 1rem;
   top: 0.5rem;
   transition: 0.2s;
   opacity: 0.5;
   background: var(--primary-background-color);
 }

 .add-recipe-input:focus+.input-placeholder,
 .add-recipe-input:not(:placeholder-shown)+.input-placeholder {
   opacity: 1;
   transform: translateY(-45%) translateX(2px);
   padding: 0 0.5rem;
 }

.add-recipe-textarea {
  min-height: 4rem;
  resize: none;
  width: 100%;
}

.add-recipe-form-button-box {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.add-recipe-button {
  color: var(--primary-text-color);
  width: 6rem;
  height: 3rem;
  margin: 0.5rem;
  border-radius: 1rem;
  border: none;
}

.cancel-button {
  background-color: var(--error-color);
}

.save-button {
  background-color: var(--success-color);
}

.cancel-button:hover {
  background-color: color-mix(in srgb, var(--error-color) 100%, black 50%);
}

.save-button:hover {
  background-color: color-mix(in srgb, var(--success-color) 100%, black 50%);
}

.image-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--tertiary-text-color);
  max-height: 50vh;
  height: 50vh;
  margin: 1rem;
  margin-bottom: 0;
  min-width: 20rem;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  overflow: clip;
}

.add-recipe-pic {
  flex-shrink: 0;
  max-width: 120%;
  max-width: 120%;
  min-width: 100%;
  min-height: 100%
}

.add-recipe-default-pic {
  color: var(--secondary-background-color);
  width: 50%;
}

