@import url('../../theme.css');

.landingpage-grid-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 100vh auto;
}

.background {
  background-image: url("../../pictures/landingpage_background.jpg");
  background-color: var(--primary-background-color);
  margin: 0;
}

.landingpage-h1 {
  color: var(--primary-text-color);
}

header {
  display: flex;
}

.content-flex-container {
  display: flex;
}

.content {
  background-repeat: no-repeat;
  background-size: cover;
}

.button-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20%;
}

.basic-button {
  font-size: 30px;
  font-weight: bold;
  font-family: var(--primary-font);
  color: var(--secondary-text-color);
  width: 60%;
  margin: 10px;
  height: 60px;
  border-radius: 15px;
  border: 3px solid var(--secondary-background-color);
  background-color: var(--primary-background-color);
}

.basic-button:hover {
  width: 65%;
}

.motto {
  text-align: start;
  margin-left: 10%;
  color: var(--secondary-text-color);
  font-size: 2rem;
  font-family: var(--secondary-font);
}

.left-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  min-width: 345px;
  width: 33vw;
  height: 100%;
}

.left-content-background {
  background-color: var(--primary-background-color);
  
}

.right-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

