.recipe-grid {
  display: grid;
  grid-template-areas: 'details pic'
                        'details pic'
                        'button-bar button-bar';
  margin: 10px 0;
  border-radius: 15px;
  background-color: rgba(var(--secondary-background-color-rgb), 0.7);
  width: 80%;
  align-self: center;
  min-height: 90%;
}

.recipe-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 0;
  grid-area: details;
}

.recipe-h1 {
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  text-align: center;
  margin-bottom: 0;
}

.recipe-h3 {
  color: var(--primary-text-color);
  font-family: var(--secondary-font);
  margin: 0;
  padding-top: 0;
  text-align: center;
}

.recipe-description {
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  margin: 10px;
}

.recipe-pic {
  display: block;
  width: 80%;
  margin: auto;
  grid-area: pic;
}

.recipe-likes {
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  margin-right: 0;
}

.recipe-button-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: button-bar;
  margin: auto 40px;
}

.recipe-button {
  border: var(--primary-background-color) 2px solid;
  background-color: var(--secondary-background-color);
  margin: 5px;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  height: 40px;
  border-radius: 15px;
  padding: 5px 10px;
}

.recipe-button:hover {
  height: 45px;
}

.recipe-time {
  color: var(--primary-text-color);
  font-family: var(--secondary-font);
  margin: 0;
}