.login-container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background-color);
  border-radius: 15px;
  margin: 1rem;
  margin-bottom: 20%;
  border: 1px solid var(--secondary-background-color);
  width: 60%;
}

.login-header-grid {
  display: grid;
  direction: rtl;
  grid-template-columns: 1fr 1fr 1fr;
}

.login-close-button {

  background-color: var(--tertiary-background-color);
  border: none;
  border-top-right-radius: 0.91rem;
}

.login-close-button:hover {
  background-color: var(--error-color);
}

.login-close-button-bar1,
.login-close-button-bar2 {
  width: 2rem;
  height: 0.5rem;
  background-color: var(--primary-background-color);
  background-color: var(--primary-text-color);
  margin: 0.5rem 0.5rem;
}

.login-close-button-bar1 {
  transform: translate(0, 0.5rem) rotate(-45deg);
}

.login-close-button-bar2 {
  transform: translate(0, -0.5rem) rotate(45deg);
}

.login-h1 {
  color: var(--secondary-text-color);
  margin: auto;
  font-family: var(--primary-font);
}

.loginform-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-input {
  width: 90%;
  background-color: var(--primary-background-color);
  border: 3px solid var(--secondary-background-color);
  border-radius: 10px;
  height: 50px;
  margin: 5px 10px;
  font-size: 25px;
}

.login-button {
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  width: 50%;
  font-family: var(--primary-font);
}

.login-button {
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  width: 60%;
  margin: 1rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--secondary-background-color);
}

.login-button:hover {
  background-color: color-mix(in srgb, var(--secondary-background-color) 70%, transparent);
}