.recipe-list-flex {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.recipe-list-category-filter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.recipe-list-category-filter {
  width: 10rem;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  overflow: scroll;
  margin: 0.5rem;
}

@media (min-width: 690px) {
  .recipe-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .recipe-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .recipe-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recipe-list::-webkit-scrollbar {
  display: none;
}

.add-recipe-icon {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: var(--primary-background-color);
}

.recipe-card:hover .add-recipe-icon {
  color: var(--tertiary-text-color);
}